@import '../styles/colors';
@import '../styles/layout';
@import '../styles/misc';

.Sync, .MidiStatus, .FileStorage {
  width: 1em;
  height: 1em;
  color: color( success );
  flex-grow: 0;
  align-content: flex-end;

  &.paused {
    color: color( success );
  }
  &.active {
    color: lighten( $high_front, 15% );
  }
  &.complete {

  }
  &.offline {
    color: color( error );
  }
  &.error {
    color: color( error );
  }

}

.Sync {
  margin-right: 2*$pad;
}
