
@import '../styles/colors';
@import '../styles/layout';
@import '../styles/misc';

.ProjectPane {
  @extend ._pane;
  right: - layout( panew ) - $ppad;
  transition: right 0.2s;

  .bar {
    flex-direction: row;

    &.fbar {
      flex-direction: row-reverse;
      right: 0;
    }
  }

  &.active {
    right: 0;
  }

  border-bottom-left-radius: $brad;
  padding-bottom: $brad;
}
