@import '../styles/colors';
@import '../styles/layout';
@import '../styles/misc';

.Block {
  position: absolute;
  bottom: 0;
  right: 0;
  width: layout( blockw );
  background: darken( $back_color, 5% );
  .bar {
    border-top-left-radius: $brad;
  }
  border-top-left-radius: $brad;
}
