.Editor {
  padding: 20px;
}

.Editor-wrapper {
  position: relative;
}

/** Do not use padding or margin inside .Composition or selection calculations
 are wrong. */
.Composition {
  margin: 0; padding: 0;
}

.Composition *:focus, .Composition:focus {
  outline: none;
}

.Composition .em {
  font-style: italic;
}

.Composition .strong {
  font-weight: bold;
}
