@import '../styles/colors';
@import '../styles/layout';
@import '../styles/misc';

.Workbench {
  background: color( workb );
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  >.stretch {
    flex-grow: 1;
    display: flex;
  }

  .Pane {
    overflow: hidden;
    position: absolute;
    left: 0;
    margin-left: -1px;

    width: 0px;
    transition: width 0.1s;

    &.active {
      width: layout( optw );
    }
    border-bottom-right-radius: $brad;
    .wrap {
      padding: $pad;
    }
  }
}
