@import '../styles/colors';
@import '../styles/layout';
@import '../styles/misc';

.Graph {
  padding: 0 2 * $ppad;
  height: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  }
}
