@import '../styles/colors';
@import '../styles/layout';
@import '../styles/misc';

.Project {
  width: 34%;
  border: 1px solid color( boxl );
  border-width: 1px 0 0 0;
  display: flex;
  flex-direction: column;
  .name {
    color: color( maint );
  }

  &.drop {
    // background: lighten( color( workb ), 5% );
  }
}
