<!DOCTYPE HTML>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body>
    <h1>Hello Lucidity !</h1>
  </body>
</html>
