#library
  h3 Library

  .search
    p &nbsp;
      input(value='search')

    ol.saved
      li.sel f
      li m
      li g
      li b
      li x
      li.add +

  ol.results
    li.box6 filter.Blur
    li.box6 filter.Bloom
    li.box6 filter.Curves
    li.box3 generator.Crackle
    li.box2 misc.Color

  .console
    p Console
      input(value='search')

    ol
      li.ok Generated 34 cubes
