#library
  h3 Library

  .search
    p &nbsp;
      input(value='search')

    ol.saved
      li.sel f
      li m
      li g
      li b
      li x
      li.add +

  ol.results
    li filter.Blur
    li filter.Crackle
    li filter.Bloom
    li filter.Color
    li filter.Curves
