#project
  h3 Project

  .control
    p Control

    ol
      li OSC
      li MIDI
      li VST Plugin
      li Keyboard
      li Mouse

  .scenes
    p Scenes

    ol
      li Intro
      li.sel Cubes
      li Terrain

  .assets
    p Assets

    ol
      li dancing queen.mp4
      li shiva.jpg
      li components (lib)
      li lucy-forge (lib)

  .console
    p Console
      input(value='search')

    ol
      li.ok Generated 34 cubes
