#project
  h3.sel Gods of India

  .control
    p Control

    ol
      li OSC
      li MIDI
      li VST Plugin
      li Keyboard
      li Mouse

  .scenes
    p Scenes

    ol
      li intro
      li.sel cubes
      li terrain

  .assets
    p Assets

    ol
      li dancing queen.mp4
      li shiva.jpg
      li components (lib)
      li lucy-forge (lib)

