/* update with node-sass src/assets/css -o elm/assets/css */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

body {
  font-family: "Avenir Next", Helvetica, sans-serif;
  font-size: 11pt;
  background: #1e1e1e;
  color: #ffffff; }

._box, ._list li, #library .results li, #library .console li, #project .control li, #project .scenes li, #project .assets li {
  padding: 4px;
  background: #5e5e5e;
  border: 1px solid #000000;
  margin-left: -1px;
  margin-top: -1px;
  width: 90%; }
  ._box.sel, ._list li.sel, #library .results li.sel, #library .console li.sel, #project .control li.sel, #project .scenes li.sel, #project .assets li.sel {
    background: #a1601d;
    color: #ffffff; }

svg .box1 {
  fill: #a17345;
  stroke: #000;
  stroke-width: 2px; }
  svg .box1.sel {
    fill: #ffcc99; }

#library .results li.box1 {
  background: #5c4d3d; }

svg .box2 {
  fill: #a1a145;
  stroke: #000;
  stroke-width: 2px; }
  svg .box2.sel {
    fill: #ffff99; }

#library .results li.box2 {
  background: #5c5c3d; }

svg .box3 {
  fill: #73a145;
  stroke: #000;
  stroke-width: 2px; }
  svg .box3.sel {
    fill: #ccff99; }

#library .results li.box3 {
  background: #4d5c3d; }

svg .box4 {
  fill: #45a145;
  stroke: #000;
  stroke-width: 2px; }
  svg .box4.sel {
    fill: #99ff99; }

#library .results li.box4 {
  background: #3d5c3d; }

svg .box5 {
  fill: #45a173;
  stroke: #000;
  stroke-width: 2px; }
  svg .box5.sel {
    fill: #99ffcc; }

#library .results li.box5 {
  background: #3d5c4d; }

svg .box6 {
  fill: #45a1a1;
  stroke: #000;
  stroke-width: 2px; }
  svg .box6.sel {
    fill: #99ffff; }

#library .results li.box6 {
  background: #3d5c5c; }

svg .box7 {
  fill: #4573a1;
  stroke: #000;
  stroke-width: 2px; }
  svg .box7.sel {
    fill: #99ccff; }

#library .results li.box7 {
  background: #3d4d5c; }

svg .box8 {
  fill: #4545a1;
  stroke: #000;
  stroke-width: 2px; }
  svg .box8.sel {
    fill: #9999ff; }

#library .results li.box8 {
  background: #3d3d5c; }

svg .box9 {
  fill: #7345a1;
  stroke: #000;
  stroke-width: 2px; }
  svg .box9.sel {
    fill: #cc99ff; }

#library .results li.box9 {
  background: #4d3d5c; }

svg .box10 {
  fill: #a145a1;
  stroke: #000;
  stroke-width: 2px; }
  svg .box10.sel {
    fill: #ff99ff; }

#library .results li.box10 {
  background: #5c3d5c; }

svg .box11 {
  fill: #a14573;
  stroke: #000;
  stroke-width: 2px; }
  svg .box11.sel {
    fill: #ff99cc; }

#library .results li.box11 {
  background: #5c3d4d; }

svg .box12 {
  fill: #a14545;
  stroke: #000;
  stroke-width: 2px; }
  svg .box12.sel {
    fill: #ff9999; }

#library .results li.box12 {
  background: #5c3d3d; }

svg .box0 {
  fill: #454545;
  stroke: #000;
  stroke-width: 2px; }

svg .tbox {
  font-size: 11pt;
  fill: #000; }
  svg .tbox.main {
    fill: #ff9326; }

._pane, #library, #workbench, #project {
  background: #565656;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 192px;
  border: 1px solid #000000; }

._input, ._search p input, #library .search p input, #library .console p input {
  position: absolute;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 4px; }

._search, #library .search {
  background: #454545;
  padding: 4px;
  border: 1px solid #000000;
  position: relative; }
  ._search p input, #library .search p input {
    top: 4px;
    left: 4px;
    width: 172px; }

._saved, #library .search .saved {
  padding: 4px; }
  ._saved li, #library .search .saved li {
    background: #5e5e5e;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #000000;
    margin: 2px;
    text-align: center;
    width: 1.4em; }
    ._saved li.sel, #library .search .saved li.sel {
      background: #a1601d;
      color: #ffffff; }

._list, #library .results, #library .console, #project .control, #project .scenes, #project .assets {
  background: #383838;
  height: 200px;
  border: 1px solid #000000;
  margin-top: -1px; }
  ._list p, #library .results p, #library .console p, #project .control p, #project .scenes p, #project .assets p {
    background: #454545;
    border: 1px solid #000000;
    padding: 8px 4px;
    margin: -1px; }

#library {
  left: 0;
  padding-left: 8px; }
  #library .search {
    border-right: 0; }
  #library .results {
    border-right: 0; }
  #library .console {
    border-right: 0;
    position: relative; }
    #library .console p input {
      top: 4px;
      right: 4px;
      width: 50%; }

#workbench {
  background: #1e1e1e;
  left: 192px;
  padding-right: 192px;
  width: 100%; }
  #workbench #graph {
    width: 500px;
    padding: 8px;
    height: 100%; }
  #workbench #files {
    float: left;
    padding: 8px;
    width: 200px;
    height: 100%; }

#project {
  right: 0;
  padding-right: 8px; }
  #project .control {
    border-left: 0; }
  #project .scenes {
    border-left: 0; }
  #project .assets {
    border-left: 0; }

h1, h2, h3, p {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2em;
  padding: 4px;
  margin: 8px 0; }

p {
  margin: 0; }
