@import './misc';

$layout:
( panew: 200px  // pane width
, paneh: 100%   // pane height
, infow: 180px // overlay message info
, infowmax: 380px // overlay message info
, infoh: 100px // overlay message info
, infohmax: 300px // overlay message info
, fbarh: 32px   // fixed bar height (should == title in bar height)
, optw: 140px   // options pane width
, playbackh: 220px // playback height ( width is 16/9 * h )
, statush: 20px // status bar
, statusw: 100% // status bar
, listh: 200px  // list height
, scenew: 500px // project files in workbench
, filesw: 200px // project files in workbench
, resultsh: 400px // library results height
);

@function layout( $key ) {
  @return map-get( $layout, $key );
}

._info {
  background: color( infob );
  .wrap {
    padding: $ppad;
  }
  border: $lbox solid color( boxl );
  border-top-right-radius: $brad;
  .bar {
    border-top-right-radius: $brad;
  }
  color: lighten( $text_color, 60% );
  min-width: layout( infow );
  max-width: layout( infowmax );
  min-height: layout( infoh );
  position: fixed;
  bottom: layout( statush ) + 2*$ppad + $lbox;
  left: 0;

  .wrap {
    max-height: layout( infohmax );
    overflow: auto;
  }
}

._pane {
  background: color( paneb );
  position: fixed;
  top: 0; bottom: 0;
  height: layout( paneh );
  width:  layout( panew ) - $ppad;
  border: $lbox solid color( boxl );
}

._list {
  background: color( listb );
  height: layout( listh );
  border: $lbox solid color( boxl );
  margin-top: -$lbox;
  overflow-x: hidden;

  p {
    background: color( lheab );
    border: $lbox solid color( boxl );
    padding: 2*$pad $pad;
    margin: -$lbox;
  }
}
._noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select:none;
}
