@import '../styles/colors';
@import '../styles/layout';
@import '../styles/misc';

.CodeEditor {
}

#app .CodeEditor {
  .scrubbing {
    background: yellow;
  }
  .scrub {
    background: #330;
    padding: 0 4px;
    cursor: move;
    border-radius: 4px;
  }
}
