@import '../styles/colors';
@import '../styles/layout';
@import '../styles/misc';

.CodeEditor {
}

#app .CodeEditor {
  .scrubbing {
    background: yellow;
  }
  .cm-number.scrub {
    padding: 0 4px;
    cursor: move;
    border: 1px dashed color( workb );
    border-radius: 4px;
  }
}

#app .CodeEditor {
  .CodeMirror-overlayscroll-horizontal div,
  .CodeMirror-overlayscroll-vertical div {
    background: color( workb )
  }
  .CodeMirror {
    padding: $pad 0 2*$pad $pad;
  }

}
