@import '../styles/colors';
@import '../styles/layout';
@import '../styles/misc';

.Playback {
  background: darken( $back_color, 5% );
  color: lighten( $text_color, 60% );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .Screen {
    background: black;
  }
  .tv {
    rect {
      stroke: lighten( #000, 20% );
      stroke-width: 1px;
      fill: none;
    }
  }
}
