@import '../styles/colors';
@import '../styles/layout';
@import '../styles/misc';

.Graph {
  padding: 0 2 * $ppad;
  height: 100%;
  overflow: auto;
  font-size: 12pt;
  font-family: "Avenir Next";
}
