@import '../styles/colors';
@import '../styles/layout';
@import '../styles/misc';

.Scene {
  flex-grow: 1;
  width: layout( scenew );
  border: 1px solid color( boxl );
  border-width: 1px 0 0 1px;
  display: flex;
  flex-direction: column;
  .name {
    color: color( maint );
  }
}

// TODO: This should go into Factory...


.Pane {
  overflow: hidden;
  width: 0px;
  &.active {
    width: layout( optw );
  }
  transition: width 0.1s;
  position: absolute;
  left: 0;
  margin-left: -1px;
  border-bottom-right-radius: $brad;
  .wrap {
    padding: $pad;
  }
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(20,20,20,0);
  transition: background-color 0.8s, opacity 0.3s;
  z-index: -9;
  opacity: 0;
  &.active {
    background-color: rgba(20,20,20,0.5);
    opacity: 1;
    z-index: 9;
  }
  justify-content: center;
  align-items: center;

  .wrap {
    background: lighten( color( paneb ), 20%);
    padding: 2 * $pad;
    border: 1px solid color( boxl );
    border-radius: $brad;
    min-width: layout( panew );
  }

  .message {
    margin: $pad 0;
  }

  .bwrap {
    margin-top: 8 * $pad;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}

.button {
  padding: $pad/2 $pad;
  background: linear-gradient(
    lighten( color( workb ), 45%),
    lighten( color( workb ), 30%)
    );
  border-radius: $brad;
  border: 2px solid darken( color( boxl ), 1%);
  border-top-color: lighten( color( boxl ), 1%);
  border-right-color: lighten( color( boxl ), 1%);
  margin: 2*$pad;
  cursor: pointer;
  &:active {
    position: relative;
    opacity: 0.8;
    top: 1px;
  }

  &.delete {
    background: linear-gradient(
      lighten( #966, 5%),
      darken( #966, 5%)
      );
  }

  &.continue {
    background: linear-gradient(
      lighten( color( sboxb ), 20%),
      lighten(  color( sboxb ),10%)
      );
    align-self: flex-end;
  }

}
