@import '../styles/colors';
@import '../styles/layout';
@import '../styles/misc';

.SlidePane {
  height: 100%;
  width: 0px;
  &.active {
    width: layout( panew );
  }
  transition: width 0.8s;
  float: left;
  border: 1px solid color( boxl );
}
