.Controls {
  position: absolute;
  // FIXME: HACK should be fixed when we allow code to change size...
  top: 30px;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Slider {
  margin: 5px;
  width: 200px;
  height: 25px;
  input { width: 100%; }
  label { padding: 3px; color: white;  }
}
