
@import '../styles/colors';
@import '../styles/layout';
@import '../styles/misc';

#statusBar {
  background: lighten( $back_color, 5% );
  position: fixed;
  bottom: 0;
  height: layout( statush );
  width:  layout( statusw );
  border: $lbox solid color( boxl );
  padding: $ppad;
  color: lighten( $text_color, 60% );

}
