@import '../styles/colors';
@import '../styles/layout';
@import '../styles/misc';

.Library {
  @extend ._pane;
  left: - layout( panew );
  transition: left 0.2s;

  .bar {
    flex-direction: row-reverse;

    &.fbar {
      flex-direction: row;
      left: 0;
    }
  }

  &.active {
    left: 0;
  }

  border-bottom-right-radius: $brad;
  padding-bottom: $brad;

  .results {
    min-height: layout( resultsh ) / 2;
    max-height: layout( resultsh );
    .li {
      padding-left: 3*$pad;
    }
  }
}
