@import '../styles/colors';
@import '../styles/layout';
@import '../styles/misc';

.Library {
  position: absolute;
  left:0;
  top:0;
  .bar {
    &.fbar {
      position: fixed;
      left: 0; top: 0;
      padding: 0 $pad;
    }
    .title {
      cursor: pointer;
      color: desaturate( color( maint ), 100% );
      &:hover {
        color: lighten( desaturate( color( maint ), 100% ), 10%);
      }
    }
  }
  &.Pane {
    transition: left 0.4s;
    width: layout( panew );
    left: - layout( panew );
    &.active {
      left: 0;
      width: layout( panew );
    }

    .wrap {
      overflow: visible;
      padding:0;
    }
  }
}
