$pad: 4px;  // padding
$ppad: 8px; // pane side padding
$wpad: 16px; // workbench padding
$lbox: 1px; // line around boxes and such
$lsbo: 1px; // line around svg boxes
$brad: 4px; // base border radius when used
