
.Drag {
  position: fixed;
  display: block;
  opacity: 0.8;
  z-index: 6; // above library = 5
  &.Graph { margin: 0; }

  // FIXME: cursor not
  path {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;

  }

  &.copy path {
    cursor: copy;
  }

  // Used to hide the element while
  // looking for element under pointer.
  &.drag-hide {
    display: none;
  }

  // this is set when there is a drop on graph
  &.hide {
    display: none;
  }

  .plus, .click { display: none }
}
