@import 'styles/colors';
@import 'styles/effects';
@import 'styles/fonts';
@import 'styles/layout';
@import 'styles/misc';
@import 'styles/reset';
@import 'styles/components';

// TODO: remove on prod
@import 'styles/testcomp';

html, body, #app {
  margin: 0;
  height: 100%;
}

#app>.wrap {
  height: 100%;
}

a { text-decoration: none; color: inherit; display: block }

body {
  font-family: getfont(family);
  font-size:   getfont(size);
  background: color( workb );
  color: color( workt );
  cursor: default;
}


.fld {
  background: color( inputb );
  border: none;
  border-radius: $brad;
  padding: $pad;
  font: inherit;
}

._search {
  background: color( lheab );
  padding: $pad;
  border: $lbox solid color( boxl );
  position: relative;

  p {
    input {
      position:absolute;
      top:$pad; left:$pad;
      width: layout( panew ) - 2*$pad - $ppad - 3*$pad;
    }
  }
}

._saved {
  padding:$pad;

  li {
    background: color( boxb );
    display: inline-block;
    border-radius: $brad;
    border: $lbox solid color( boxl );
    margin: 2px;
    text-align: center;
    width: 1.4em;

    &.sel {
      background: color( sboxb );
      color: color( sboxt );
    }
  }
}


.li {
  @extend ._noselect;
  cursor: pointer;
  color: lighten( color( workt ), 8% );
  &.drag {
    padding: 0;
    span {
      // We move the text into a span to avoid drag size change (dragula bug)
      padding: $pad;
      &:before {
        color:#222;
        content: ":: ";
      }
    }

    // cursor: grab;
    // cursor: -webkit-grab;
    // cursor: -moz-grab;
  }

  span {
    display:block;
  }

  padding: $pad;
  background: color( boxb );
  border-bottom: $lbox solid color( boxl );

  &.sel {
    background: color( sboxb );
    color: color( sboxt );
  }

  &.add {
    background: none;
    color: color( boxb );
    border-bottom: none;
    text-align: center;
    font-weight: bold;
    transition: background 0.5s, color 0.5s;
    &:hover {
      background: color( boxb );
      color: color( workt );
    }
  }
}

._button {
  cursor:pointer;
}


.dragged {
  opacity: 0.8;
  border-width: 2px;
  border-radius: 4px;
}

._drop {
  .drag-enter {
    background: color( sboxb );
    color: color( sboxt );
    cursor:copy;
  }
}

.search {
  @extend ._search;
  border-right:0;

  .saved {
    @extend ._saved;
  }
}

.refresh {
  @extend ._button;
}

.console {
  @extend ._list;
  border-right:0;
  position: relative;

  p {
    input {
      position:absolute;
      top:$pad; right:$pad;
      width:50%;
    }
  }
}
